<?xml version="1.0" encoding="utf-8"?>
<component name="Settings" extends="JFScreen">
  <children>

    <Label id="path" translation="[95,175]" font="font:SmallestBoldSystemFont" />

    <LabelList
      translation="[120,250]"
      id="settingsMenu"
      itemSize="[510,54]"
      vertFocusAnimationStyle="floatingFocus"
      focusBitmapBlendColor="#006fab"
      focusedColor="#ffffff"
      itemSpacing="[0,9]"
      textVertAlign="center" />

    <Poster
      translation="[710,230]" id="testRectangle" width="1210" height="830" uri="pkg:/images/white.9.png"
      blendColor="#3f3f3f" />

    <LayoutGroup translation="[1278,270]" id="settingDetail" vertAlignment="top" horizAlignment="center" itemSpacings="[50]">
      <Label id="settingDesc"
        width="1065"
        wrap="true"
        horizAlign="center"
        translation="[750,270]" />

      <RadioButtonList id="radioSetting" vertFocusAnimationStyle="floatingFocus" />
    </LayoutGroup>

    <RadioButtonList id="boolSetting" vertFocusAnimationStyle="floatingFocus" translation="[1034, 510]">
      <ContentNode role="content">
        <ContentNode title="Disabled" />
        <ContentNode title="Enabled" />
      </ContentNode>
    </RadioButtonList>

    <intkeyboard_integerKeyboard translation="[1034, 510]" id="integerSetting" maxLength="3" domain="numeric" visible="false" />

  </children>
</component>